<section class="content-header">
  <h1>Konsole Dashboard</h1>
  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>
</section>
<section class="content">
  <div class="row home_dash_box">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>0</h3>
          <p>Total Environment</p>
        </div>
        <div class="icon">
          <i class="fa fa-car" aria-hidden="true"></i>
        </div>
        <a [routerLink]="['/environment']" class="small-box-footer"
          >More Info <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>0</h3>
          <p>Total Application</p>
        </div>
        <div class="icon">
          <i class="fa fa-id-card" aria-hidden="true"></i>
        </div>
        <a [routerLink]="['/application']" class="small-box-footer"
          >More Info <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>0</h3>
          <p>Total System</p>
        </div>
        <div class="icon">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <a href="#" class="small-box-footer"
          >More Info <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xs-12"></div>
    <div class="col-lg-6 col-xs-12"></div>
  </div>
</section>
