<body>
  <div class="container col-md-6 offset-md-3 mt-5">
    <br />
    <br />
    <br />
    <div class="row text-center">
      <div class="col-md-12">
        <br />
        <span style="font-size:27px;font-weight:bold;">Saturn</span>
        &nbsp;
        <span style="font-size:18px;">Konsole Management System</span>
      </div>
    </div>
    <br />
    <div class="row">
      <div
        class="
          col-md-4
          col-md-offset-4
          col-sm-6
          col-sm-offset-3
          col-xs-10
          col-xs-offset-1
        "
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>
